<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit User {{user_info.id}}</h1>
    <a href="/">Home</a>
    <form action='/update_user/{{user_info.id}}', method='post'>
        <label for='first_name'>First Name:</label>
        <input type='text' name='first_name' value="{{user_info.first_name}}">
        <label for='last_name'>Last Name:</label>
        <input type='text' name='last_name' value="{{user_info.last_name}}">
        <label for='email'>Email:</label>
        <input type='text' name='email' value="{{user_info.email}}">
        <input type='submit' value='Update'>
    </form>
    <a href="/show_user/{{user_info.id}}">Show User</a>
</body>
</html>