*{
    margin: 10px;
}
.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 0px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}
.sub-content {
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin-bottom: 0px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 10px 0px 0 px 0px;
    
}

.row {
    display: flex;
}

