*{
    margin: 5px;
}
.container{
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
    width: 950px;
}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    background-color: blue;
    height: 300px;
    margin: 5px 10px auto 0px;
    width: 200px;
}
.main {
    background-color: red;
    height: 400px;
    margin-left: 5px;
    padding: 5px;
    width: 710px;
}

.sub-content {
    background-color: yellow;
    height: 200px;
    width: 210px;
}

#advertisement {
    background-color: purple;
    height: 120px;
    margin-left: 15px;
    width: 650px;
}

.row {
    display: flex;
    margin: 10px;
}

