body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.hero {
	background: aqua;
	width: 300px;
	padding: 10px;
	border: 1px solid black;
}

form {
	border: 1px solid black;
	padding: 15px;
}

form>div {
	display:flex;
	flex-direction: column;
	padding: 5px;
}